<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{curso/fragments/fragments :: head}"></head>
  <body>
    <nav th:replace="~{curso/fragments/fragments :: menu}"></nav>
    <div class="container mt-4">
    <h1>Editar curso</h1>
    <form method="post" action="#" 
            th:action="@{/editar/{id}/submit(id=${cursoForm.id})}" 
            th:object="${cursoForm}">
            <input type="hidden" id="id" th:field="*{id}" /> </label>
            <label>Nombre:<input type="text" id="nombre" th:field="*{nombre}" /></label><br/>
            <label>Precio:<input type="number" id="precio" th:field="*{precio}"/></label><br/>
            <label>Autor:<select th:field="*{autor}" class="form-select">
              <option value="" selected>--Seleccione un autor--</option>
              <option th:each="autor : ${listaAutores}" th:value="${autor.id}" th:text="${autor.nombre}"></option>
            </select></label><br/>
            Tematica:<br/>          
            <div th:each="tem : ${T(com.example.myapp.domain.Tematica).values()}">
                <input type="radio" name="button1" th:value="${tem}" th:text="${tem}" th:field="*{tematica}" />
            </div>
            <input  type="submit" value="Enviar" />
            <a  th:href="@{/}">Inicio</a>
    </form>
  </body>
</html>